p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.rmdcomment {
  padding: 1em 1em 1em 4em;
  margin-bottom: 0px;
  background: #DEEDF0;
  position:relative;
}

.rmdcomment:before {
    content: "\f075";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 45px;
 }

div.FOO {
  font-weight: bold;
  color: black;
}

.caution {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  background: #ff9a8c;
  position:relative;
}

.caution:before {
    content: "\f071";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 45px;
 }

div.FOO {
  font-weight: bold;
  color: black;
}

.starcomment {
  padding: 1em 1em 1em 4em;
  margin-bottom: 0px;
  background: #d1f2cf;
  position:relative;
}

.starcomment:before {
    content: "\f005";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 45px;
 }

div.FOO {
  font-weight: bold;
  color: black;
}
